<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medul.math">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AddLevelActivity" />
        <activity android:name=".AddLevel1Activity" />
        <activity android:name=".SubLevel" />
        <activity android:name=".SubLevel1" />
        <activity android:name=".MultiLevelActivity" />
        <activity android:name=".MultiLevel1" />
        <activity android:name=".DivisionActivity" />
        <activity android:name=".Division_Level1"></activity>
    </application>

</manifest>